:root {
    --red: #803536;
    --blue: #80AEBD;
    --yellow: #D2A446;
    --green: #797A24;
    --grey: #848A94;
    --white: #F2F2F2;
    --black: #262626;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "futura-pt";
}

html {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    position: relative;
}

.page {
    width: 100%;
    padding: 30px;
    display: none;
}

/***HOME PAGE***/
.home-page {
    height: 100vh;
    width: 100%;
    background-image: url("../media/bg-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    flex-direction: column;
    padding: 0;
}

.home-content {
    padding: 20px;
}

.logo-main {
    width: 70%;
    height: auto;
    transform: rotate(90deg) translate(40%, calc(100% - 10%));
}

.applogo {
    color: var(--white);
}

.current-exhibitions {
    margin-top: auto;
    background-color: rgba(26, 26, 26, 0.6);
    padding: 20px;
    color: var(--white);
}

.current-exhibitions-stuff {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin: 15px 0;
}

.current-exhibitions-stuff img {
    height: 150px;
    width: auto;
    margin-left: 20px;
}

.current-exhibitions-stuff img:first-child {
    margin-left: 0px;
}

.more {
    color: var(--white);
    text-decoration: none;
    text-align: right;
}


/***NAVIGATION***/
.nav-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    z-index: 2;
}

.nav-btn div {
    height: 2px;
    background-color: var(--white);
    margin-top: 5px;
}

.nav-btn div:first-child {
    width: 25px;
}

.nav-btn div:last-child {
    width: 15px;
}

.nav-container {
    background-color: rgba(26, 26, 26, 0.6);
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0px;
    top: 0px;
    display: none;
    z-index: 999999;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    color: var(--white);
    font-size: 30px;
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.navigation:after {
    content: "";
    width: 2px;
    background-color: var(--white);
    height: 80%;
    position: absolute;
    right: 20px;
}

.navigation ul {
    list-style-type: none;
    justify-self: center;
}

.navigation ul>li {
    margin: 20px 0;
}

.navigation ul>li a {
    font-size: 30px;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "futura-pt";
}

.hours {
    margin-top: 20%;
    font-family: "futura-pt";
    font-weight: bold;
    color: var(--white);
    text-transform: uppercase;
}

.log-out-container {
    margin-top: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.log-out-container p {
    font-size: 18px;
    color: var(--white);
    margin-left: 10px;
    text-transform: uppercase;
}

.arrow-icon {
    width: 30px;
    height: 30px;
    border-radius: 200px;
    border: 3px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-icon i {
    padding: 10px;
    color: var(--white);
    font-size: 20px;
}

/***EXHIBITION DETAILS PAGE***/

#exhibition-details {
    padding: 0;
    background-color: var(--black);
}

#details-banner {
    color: var(--white);
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5) 100%,
            rgba(255, 255, 255, 1) 100%),
        url("../media/human-nature.jpg");
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.exhibition_title {
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
    padding-left: 30px;
    font-size: 30px;
}

.banner_img {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 20px;
    padding-right: 30px;
}

#details-description {
    padding: 30px;
    color: var(--white);
    display: flex;
}

.description_title {
    font-size: 30px;
    margin-bottom: 2vh;
}

.description-text {
    font-size: 16px;
}

#floor-description {
    padding: 20vh 0;
    width: 25vw;
}

.floornumber {
    font-size: 48px;
    transform: rotate(270deg);
    white-space: nowrap;
    height: 10vh;
}

#exhibition-artworks {
    color: var(--white);
    background-color: var(--black);
}

.list_title {
    font-size: 24px;
    padding: 30px;
    background-color: #262626;
}

#artwork-list {
    position: relative;
}

#exhibition-artworks {
    height: 13vh;
}

.artwork_img {
    width: 100%;
    height: 13vh;
    object-fit: cover;
}

#overlay {
    content: " ";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#artwork-content {
    position: absolute;
    width: 100%;
    height: 13vh;
    z-index: 2;
}

#artwork-text {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 25px;
}

.artwork_title {
    margin-bottom: 2vh;
}

.artworks_arrow {
    position: absolute;
    right: 0;
    top: 0;
    padding: 62px 30px;
}

/****** MAP PAGE*******/
.map_page {
    background-image: url(../media/map_background.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
}

.map_container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.map_floors {
    align-self: flex-end;
    font-weight: 600;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px 0;
}

.circles_numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.circle {
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
    border: 2px solid white;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin: 10px 5px;
}

.hidden_floors {
    margin-top: -60px;
}

.floor_number {
    font-size: 48px;
    transform: rotate(270deg);
    white-space: nowrap;
    width: 30vw;
    height: 12vw;
    padding: 18vh 10vw;
}

/* EXHIBITIONS PAGE */

#exhibitions {
    padding: 0;
}

.exhibition-item {
    position: relative;
}

.exhibition-name {
    font-size: 20px;
}

.exhibition-date {
    font-size: 16px;
}

.exhibition-details-container {
    position: absolute;
    color: var(--white);
    bottom: 0;
    left: 0;
    padding: 30px;
    width: 100%;
}

.image-container {
    width: 100vw;
}

.exhibition-image {
    max-width: 100%;
}

.description_title {
    font-size: 30px;
    margin-bottom: 2vh;
}

.date-arrow-container {
    display: flex;
    justify-content: space-between;
}

.dark-overlay {
    content: " ";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#exhibitions {
    position: relative;
}

#search-icon {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
    z-index: 999;
}

/***ONBOARDING PAGE***/

#onboarding {
    padding: 0;
    overflow: hidden;
}

#onboarding2 {
    padding: 0;
    overflow: hidden;
}

#onboarding3 {
    padding: 0;
    overflow: hidden;
}

.onboarding_img {
    padding: 0;
}

#onboarding-content {
    padding: 30px;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    height: 40%;
    bottom: 0;
    color: white;
}

.onboarding_title {
    font-size: 30px;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: 500;
}

.onboarding_text {
    font-size: 16px;
    margin-bottom: 4vh;
    height: 12vh;
}

#onboarding-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.skip_btn {
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin: auto 0;
    text-decoration: none;
}


#progress-dots {
    margin: auto;
}

.dot_active {
    height: 8px;
    width: 8px;
    margin: 0 5px;
    background-color: #F2F2F2;
    border-radius: 50%;
    display: inline-block;
}

.dot {
    height: 8px;
    width: 8px;
    margin: 0 5px;
    background-color: #848A94;
    border-radius: 50%;
    display: inline-block;
}

/* PROFILE PAGE */

.profile_page {
    background-color: var(--black);
    color: white;
}

.virtual_card {
    margin: 30px 0;
}

.subscription_time {
    display: flex;
    flex-direction: row;
    font-weight: 200;
    font-family: 'Lato', sans-serif;
    justify-content: space-around;
}

.collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}

.coffee {
    height: 50px;
    width: 50px;
    background-color: #878787;
    border-radius: 50%;
    margin: 5px;
}

.favourite_artworks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profile_title {
    margin: 30px 0;
}

.settings_icon {
    position: absolute;
}

.profile_top {
    margin-top: 80px;
}

.exhibition-favourite {
    width: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 2.5%;
}

.favourite-image {
    width: 100%;
}

/* ARTWORK DETAILS PAGE  */

#art-details {
    padding: 0;
    background-color: var(--black);
}

#artwork-banner {
    color: var(--white);
    height: 40vh;
    width: 100vw;
    position: relative;
}

.artwork-image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#artwork-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#artwork-image {
    height: 100%;
}

#back-arrow {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
}

#heart {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px 30px;
}

.artwork-title {
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
    padding-left: 30px;
    font-size: 30px;
}

.banner_img {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 20px;
    padding-right: 30px;
}


.description-title {
    font-size: 30px;
    margin-bottom: 2vh;
}

.description-text {
    font-size: 16px;
}

.floornumber {
    font-size: 48px;
    transform: rotate(270deg);
    white-space: nowrap;
    height: 10vh;
}

#artist-artworks {
    color: var(--white);
    background-color: var(--black);
    height: 13vh;
}

.list-title {
    font-size: 24px;
    padding: 30px;
    background-color: #262626;
}

#artworks-list {
    position: relative;
}

#artwork-description-top {
    color: var(--white);
    font-size: 20px;
    display: flex;
    padding: 30px;
}

#artist-image-container {
    width: 30vw;
}

#artwork-facts-container {
    padding: 30px;
}

#artist-image {
    width: 100%;
}

#details-container {
    padding: 30px;
    color: var(--white);
    display: flex;
}

#artwork-description-left {
    color: var(--white);
    width: 20vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    transform: rotate(270deg);
    margin-right: 10vw;
}

#artwork-description-right {
    color: var(--white);
    width: 80vw;
}

.artist-name {
    font-size: 48px;
    white-space: nowrap;
}

.artwork-name {
    font-size: 24px;
    white-space: nowrap;
}

#other-artworks-list {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    background-color: var(--black);
    padding-bottom: 50px;
}

.other-artwork-image {
    height: 150px;
    width: auto;
    margin-left: 20px;
}